.Rproj.user
.Rhistory
.RData
.Ruserdata
venv/
.idea/
*.png
.positai
diff.txt

~$*.xlsx
~$*.xls
~$*.csv

R/models/
.~lock.*#
__pycache__/
*.pyc

# Ignore contents of Marshall & Zhang data folders
R/marshall_zhang/original/working/
R/marshall_zhang/original/data/
